^[^/]*/bin/
^[^/]*/[^/]*/.*\.so.*
syntax: glob
Makefile*
*Makefile.in
Makefile.in
moc_*.cpp
*.o
ui_*.h
*~
*.kdev*
*.bak
qrc_*
*.a
*.moc.*
*.moc
*.cxx
autom4te.cache/*
config.h
config.log
config.status
libtool
.deps/*
stamp-h1
index.cache.bz2
*.pyc
.nfs*
CMakeFiles/*
CMakeCache.txt
*.cmake
*.orig
build*/
*.rej
*.user
*.autosave
